<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Refresh" content="30"> -->
    <title>ParkingBLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>

    <div class="header">
      <h1>ParkingBLE</h1>
      <p>A demonstration of system's UI, "simulated" for <em>Ridge Avenue</em>. See <a href="https://github.com/sgh185/nu-wirelessiot-base/tree/project">code</a>.</p>
    </div>
    <div class="header">
      <hr>
    </div>
      <div id="parking" class="carousel slide bg-secondary">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row spots">
              <div class="col-lg-3 spot border">
                <h4>Spot 1 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 2 : <span class="badge badge-danger">Occupied</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 3 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 4 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
            </div>
            <div class="solid-yellow-line"></div>
            <div class="solid-yellow-line"></div>
            <div class="padding"></div>
          </div>
          <div class="carousel-item">
            <div class="row spots">
              <div class="col-lg-3 spot border">
                <h4>Spot 1 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 2 : <span class="badge badge-danger">Occupied</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 3 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 4 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
            </div>
            <div class="solid-yellow-line"></div>
            <div class="solid-yellow-line"></div>
            <div class="padding"></div>
          </div>
          <div class="carousel-item">
            <div class="row spots">
              <div class="col-lg-3 spot border">
                <h4>Spot 1 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 2 : <span class="badge badge-danger">Occupied</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 3 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
              <div class="col-lg-3 spot border">
                <h4>Spot 4 : <span class="badge badge-success">Available</span></h4>
                <p class="update"><em>Last updated: <strong>5 mins ago</strong></em></p>
              </div>
            </div>
            <div class="solid-yellow-line"></div>
            <div class="solid-yellow-line"></div>
            <div class="padding"></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#parking" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#parking" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <!-- </div> -->


    <!-- jQuery -->
    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 4.1 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>
